{% extends 'base-new.html' %}


{% block head %}{% endblock head %}
{% block title %}DEVICE CREATION{% endblock title %}
{% block location %}

    <span class="breadcrumb-item active">Add Device</span>


{% endblock location %}
{% block body %}
<div class="d-flex" style="min-height: 100%; justify-content: center;">

    <div class="align-self-center align-center;">
        <form action="" method="post">
            {% csrf_token %}
            <div id='error'>
                <font color="red">{{error}}</font>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">datalogger </span>
                {{ Deviceform.datalogger}}
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">co2sensor</span>
                {{ Deviceform.co2sensor}}
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">fuelsensor</span>
                {{ Deviceform.fuelsensor}}
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">gps</span>
                {{ Deviceform.gps}}
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">axis_accelerometer</span>
                {{ Deviceform.axisaccelerometer}}
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">weightsensor</span>
                {{ Deviceform.weightsensor}}
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">temperatuesensor </span>
                {{ Deviceform.temperaturessensor}}
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">obdscanner</span>
                {{ Deviceform.obdscanner}}
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">humiditysensor</span>
                {{ Deviceform.humiditysensor}}
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">serialno</span>
                {{ Deviceform.serialno}}
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">type</span>
                {{ Deviceform.type}}
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">msisdn</span>
                {{ Deviceform.msisdn}}
            </div>
            <center>
                <input type="submit" class="btn btn-secondary"value="submit">
            </center>
            </form>
        </div> 
    </div>
    
    {% endblock body %}   
