{% extends 'base-new.html' %}


{% block head %}{% endblock head %}
{% block title %}COMPANY CREATION{% endblock title %}
{% block body %}
<div class="d-flex" style="min-height: 100%; justify-content: center;">

    <div class="align-self-center align-center";">
        <form action="" method="post">
            {% csrf_token %}
            <div id='error'>
                <font color="red">{{error}}</font>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">name</span>
                {{ companyForm.name}}
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">address1</span>
                {{ companyForm.address1}}
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">address2</span>
                {{ companyForm.address2}}
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">city</span>
                {{  companyForm.city}}
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">postalcode</span>
                {{  companyForm.postalcode}}
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">state</span>
                {{ companyForm.state}}
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">country</span>
                {{ companyForm.country}}
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">phonenumber</span>
                {{ companyForm.phonenumber}}
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">companybaselat</span>
                {{ companyForm.baselat}}
            </div>
           
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">baselong</span>
                {{ companyForm.baselong}}
            </div>
                
            <center>
            <input type="submit" class="btn btn-secondary"value="submit">
        </center>
        </form>
    </div> 
    
</div>

{% endblock body %}