
{% extends 'base-new.html' %}

{% block head %}{% endblock head %}
{% block title %}VEHICLE CREATION{% endblock title %}
{% block location %}
<span class="breadcrumb-item active">View Vehicles</span>
{% endblock location %}
{% block body %}

<table class="table">
    <tr>
        <th>
            name
        </th>
        <th>
            type
        </th>
        <th>
            mileage
        </th>
        <th>
            regId
        </th>
            regId
        
        </th><th>
            Actions
        </th>
    </tr>
    {%for vehicle in vehicles %}
    <tr>
        <td>
            {{vehicle.name}}
        </td>
        <td>
            {{vehicle.type}}
        </td>
        <td>
            {{vehicle.mileage}}
        </td>
        <td>
            {{vehicle.regId}}
        </td>
        
    <td>
        <a href =  "#"> <span class="badge bg-blue">Edit</span></a>
        <a href =  "#"><span class="badge bg-danger">delete</span></a>              
        <a href =  "{% url 'Devicecreation' vehicle.pk %}"><span class="badge bg-success-400">Add sensor</span></a>      
        <a href =  "{% url 'listdevice' vehicle.pk %}"><span class="badge bg-success-400">View sensor</span></a>      
        
    </td>
</tr>
{% endfor %}
</table>

{% endblock body %}