{% extends 'base-new.html' %}


{% block head %}{% endblock head %}
{% block title %}COMPANY CREATION{% endblock title %}
{% block location %}
<span class="breadcrumb-item active">View Businesses</span>
{% endblock location %}
{% block body %}


<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            City
        </th>
        <th>
            address1
        </th>
        <th>
            address2
        </th>
        <th>
            postalcode
        </th>
        <th>
            phonenumber
        </th>
        <th>
            numberofvehicles
        </th>
        <th>
            baselat
        </th>
        <th>
            baselong
        </th>
        
        <th>
            Actions
        </th>
    </tr>
    {% for business in businesses %}
        <tr>
            <td>
                {{business.name}}
            </td>
            <td>
                {{business.city}}
            </td>
            <td>
                {{business.address1}}
            </td>
            <td>
                {{business.address2}}
            </td>
            <td>
                {{business.postalcode}}
            </td>
            <td>
                {{business.phonenumber}}
            </td>
            <td>
                {{business.numberofvehicles}}  
            </td>
            <td>
                {{business.baselat}}
            </td>
            <td>
                {{business.baselong}}
            </td>
            <td>
               
                <a href =  "{% url 'editbusiness' business.pk %}"> <span class="badge bg-blue">Edit</span></a>
                <a href =  "{% url 'deletebusiness' business.pk %}"><span class="badge bg-danger">delete</span></a>              
                <a href =  "{% url 'Usercreation' business.pk %}"><span class="badge bg-success-400">Add User</span></a>      
                
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock body %}