<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<html>
    <!-- center a div vertically -->
    
    <div class="d-flex" style="min-height: 100%; justify-content: center;">
        
        <div class="align-self-center align-center" style="border: 2px;border-style: solid;padding: 5% 4%;">
            <form action="" method="post">
                {% csrf_token %}
                <div id='error'><font color="red">{{error}}</font></div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">name</span>
                    {{ Companyform.name}}
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">address1</span>
                    {{ Companyform.address1}}
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">address2</span>
                    {{ Companyform.address2}}
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">city</span>
                    {{  Companyform.city}}
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">postalcode</span>
                    {{  Companyform.postalcode}}
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">state</span>
                    {{ Companyform.state}}
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">country</span>
                    {{ Companyform.country}}
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">phonenumber</span>
                    {{ Companyform.phonenumber}}
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">numberofvehicle</span>
                    {{ Companyform.numberofvehicles}}
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">companybaselat</span>
                    {{ Companyform.baselat}}
                </div>
               
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">baselong</span>
                    {{ Companyform.baselong}}
                </div>


                
                <center>
                <input type="submit" class="btn btn-secondary"value="submit">
            </center>
            </form>
        </div> 
        
    </div>
    