{% extends 'base-new.html' %}
{% block title %} Add User To Business{% endblock title %}


{% block body %}

<div class="d-flex" style="min-height: 100%; justify-content: center;">
        
    <div class="align-self-center align-center" style="border: 2px;border-style: solid;padding: 5% 4%;">
        <form action="" method="post">
            {% csrf_token %}
            <div id='error'><font color="red">{{error}}</font></div>
           
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">username</span>
                <input type="text" name="username" maxlength="150" required="" id="id_username" class="form-control">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">password</span>
                <input type="text" name="password" maxlength="128" required="" id="id_password" class="form-control">
            </div>
                
            <center>
            <input type="submit" class="btn btn-secondary"value="submit">
        </center>
        </form>
    </div> 
    
</div>

{% endblock body %}